
.navigation-link1 {
    color: grey; 
    font-weight: normal; 
    margin-left: 42rem;
}
.navigation-link2 {
    color: grey; 
    font-weight: normal; 
    margin-left: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 460px) {
    .navigation-link1 {
        margin-left: 1rem;
        
    }
  }
  